apiVersion: v1
kind: List
items:

- apiVersion: v1
  kind: Namespace
  metadata:
    name: {{ openshift_autoheal_namespace }}

- apiVersion: v1
  kind: ServiceAccount
  metadata:
    namespace: {{ openshift_autoheal_namespace }}
    name: {{ openshift_autoheal_name }}

- apiVersion: v1
  kind: Role
  metadata:
    namespace: {{ openshift_autoheal_namespace }}
    name: {{ openshift_autoheal_name }}
  rules:
  - apiGroups:
    - ""
    resources:
    - secrets
    resourceNames:
    - {{ openshift_autoheal_name }}-awx-credentials
    - {{ openshift_autoheal_name }}-awx-tls
    verbs:
    - get

- apiVersion: v1
  kind: RoleBinding
  metadata:
    namespace: {{ openshift_autoheal_namespace }}
    name: {{ openshift_autoheal_name }}
  roleRef:
    namespace: {{ openshift_autoheal_namespace }}
    name: {{ openshift_autoheal_name }}
  subjects:
  - kind: ServiceAccount
    name: {{ openshift_autoheal_name }}
  userNames:
  - system:serviceaccount:{{ openshift_autoheal_namespace }}:{{ openshift_autoheal_name }}

- apiVersion: v1
  kind: Secret
  metadata:
    namespace: {{ openshift_autoheal_namespace }}
    name: {{ openshift_autoheal_name }}-awx-credentials
  data:
    username: {{ openshift_autoheal_awx_user | b64encode }}
    password: {{ openshift_autoheal_awx_password | b64encode }}

- apiVersion: v1
  kind: Secret
  metadata:
    namespace: {{ openshift_autoheal_namespace }}
    name: {{ openshift_autoheal_name }}-awx-tls
  data:
    ca.crt: {{ openshift_autoheal_awx_ca | b64encode }}

- apiVersion: v1
  kind: ConfigMap
  metadata:
    namespace: {{ openshift_autoheal_namespace }}
    name: {{ openshift_autoheal_name }}-config
  data:
    autoheal.yml: |-
      {{ tmpconfig.stdout | indent(6) }}

- apiVersion: apps/v1beta1
  kind: Deployment
  metadata:
    namespace: {{ openshift_autoheal_namespace }}
    name: {{ openshift_autoheal_name }}
  spec:
    selector:
      matchLabels:
        app: {{ openshift_autoheal_name }}
    replicas: 1
    template:
      metadata:
        labels:
          app: {{ openshift_autoheal_name }}
      spec:
        serviceAccountName: {{ openshift_autoheal_name }}
        volumes:
        - name: config
          configMap:
            name: {{ openshift_autoheal_name }}-config
        containers:
        - name: service
          image: "{{ openshift_autoheal_image_prefix }}autoheal:{{ openshift_autoheal_image_version }}"
          imagePullPolicy: IfNotPresent
          volumeMounts:
          - name: config
            mountPath: /etc/autoheal
          command:
          - /usr/bin/autoheal
          args:
          - server
          - --config-file=/etc/autoheal/autoheal.yml
          - --logtostderr

- apiVersion: v1
  kind: Service
  metadata:
    namespace: {{ openshift_autoheal_namespace }}
    name: {{ openshift_autoheal_name }}
  spec:
    selector:
      app: {{ openshift_autoheal_name }}
    ports:
    - name: autoheal
      protocol: TCP
      port: 9099
      targetPort: 9099
