[general]
host = {{ openshift_autoheal_awx_host }}:{{ openshift_autoheal_awx_port}} 
username = {{ openshift_autoheal_awx_admin }}
password = {{ openshift_autoheal_awx_admin_password }}
verify_ssl = false
